body {
  min-height: calc(100vh - 100px);
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(40deg, #e06704, #3f5efb);
  background-position: 95% 90%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;

  color: white;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form i {
  margin: 20px auto;
}

article {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 2px 2px 7px rgba(59, 59, 59, 0.5);
  color: black;
  padding: 30px;
}

article sup {
  font-size: 0.5em;
}

article div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article small {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
}

.hide {
  display: none;
}
